body{
    overflow: hidden;
    background: linear-gradient(rgb(171, 205, 171), white);
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.calculator{
    border: 3px solid black;

    width: 370px;
    margin: auto;
    border-radius: 2px;
    background: #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px rgb(23, 125, 77);
}

#userInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background-color: rgb(189, 237, 192);
    text-align: right;
    direction: ltr;
    outline: none;
}

.btn{
    width: 24%;
    height: 50px;
    border-radius: 4px;
    border-width: 3px;
    border-color: rgb(162, 205, 166);
}

.btnEqual{
    width: 99.2%;
    height: 50px;
    border-radius: 4px;
    border-width: 3px;
    border-color: rgb(162, 205, 166);
    margin-top: 2px;
}

.btn:hover, .btnEqual:hover{
    background-color: rgb(163, 177, 163);
}

@media(max-width:480px){
    .btn{
        width: 23.4%;
    }
}

@media(max-width:320px){
    .btn{
        width: 23%;
    }
}
